
body {
    background-color: #D8CEF6;
}
header {
    width: 100%;
    background-color: #8181F7;
    margin-inline-end: 43px;
    height: 5em;
  
}

ul {
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
}

main {
    width: 60%;
    float: left;
}


aside {
    width: 30%;
    position: right;
    margin-top: 4em;
    float: right;
}    

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    background-color: beige;
    font-family: 'Times New Roman', Times, serif;
}

li {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 30%;
    float: left;
    text-align: center;
    padding: 15px 0;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-stretch: ultra-expanded;
    text-align: left
}

section {
    background-color: beige;
    width: 30%;
    height: 500px;
    overflow: auto;
    text-align: center;

}

article {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: #F7ECAD;
    margin-right: 10pt;
    margin-left: 10pt;
    padding: 10pt;
    margin-bottom: 10pt;
    margin-top: 10pt;
}    

.Schneee {
    border: white;
    border-radius: 10%;
    height: 250px;
    width: 20%;
    
}  


footer {
    color: black;
    width: 100%;
}     


h3 {
    color: black
}    

.Herbscht {
    border: white;
    border-radius: 20%;
    height: 250px;
    width: 300px;
    float: right;
    background-color: #8181F7
} 

.Macarena {
    border: white;
    border-radius: 50%;

} 