.intro {
	width: 90%;
    height: 90%;
    margin: 5%;
    background-color: #F5DA81;
    border: groove;
}

h1 {
	text-align: center;

}

#needhelp {
	background-color: #DA81F5;
    font-size: 18px;
    border-radius:12px;
    position: absolute;
    left: 30%;
}

#offerhelp {

	background-color: #DA81F5;
    font-size: 18px;
    border-radius:12px;
    position: absolute;
    left: 60%;
}

p {
	margin: 5%;

}

h3 {
	margin: 5%;
	text-align: center;


}

.categories {
	width: 30%;
    height: 90%;
    margin: 5%;
    background-color: #F5DA81;
	border: groove;
}

body{
    height: 100vh;
    display: flex;
	background: #F6CED8;
}