/* Css für Ablagestapel*/

body { 
	background: green;
}


.blau {
	background: blue;
	position: absolute;
	top: 50px;
	height: 100px;
	width: 80px;
	border: 3px solid black;
	color: white;
	text-align: center;
	line-height: 102px;
	font-family: sans-serif;
	font-size: 65pt;
	font-weight: bold;
	left: 200px;
	border-radius: 7%;
}

.rot {
	background: red;
	position: absolute;
	top: 50px;
	height: 100px;
	width: 80px;
	border: 3px solid black;
	color: white;
	text-align: center;
	line-height: 102px;
	font-family: sans-serif;
	font-size: 65pt;
	font-weight: bold;
	left: 400px;
	border-radius: 7%;
}

.gelb {
	background: yellow;
	position: absolute;
	top: 50px;
	height: 100px;
	width: 80px;
	border: 3px solid black;
	color: white;
	text-align: center;
	line-height: 102px;
	font-family: sans-serif;
	font-size: 65pt;
	font-weight: bold;
	left: 400px;
	border-radius: 7%;
}

.grün {
	background: green;
	position: absolute;
	top: 50px;
	height: 100px;
	width: 80px;
	border: 3px solid black;
	color: white;
	text-align: center;
	line-height: 102px;
	font-family: sans-serif;
	font-size: 65pt;
	font-weight: bold;
	left: 400px;
	border-radius: 7%;
}

#feldGegner {
	background: #D8D8D8;
	width: 400px; 
	height: 130px;
	border: 3px #111111 solid;
	margin: auto;
}

#FeldSpieler {
	background: #D8D8D8;
	width: 400px; 
	height: 130px;
	border: 3px #111111 solid;
	margin: auto;
}

#Ablagestapel {
	width: 250px;
	height: 120px;
	border-radius: 50%;
	border: 3px #111111 solid;
	margin: auto;
	background: #A9BCF5;
	text-align: center;
	line-height: 20px;
	font-size: 40pt;
	font-family: Arial, Helvetica, sans-serif;
}

#Ziehstapel {
	width: 250px;
	height: 120px;
	border-radius: 50%;
	border: 3px #111111 solid;
	margin: auto;
	background: #A9BCF5;
	text-align: center;
	line-height: 20px;
	font-size: 40pt;
	font-family: Arial, Helvetica, sans-serif;
	float: right;
}	