
body {
    background-color: #B1F69B;
}

h1 {
    font-family: 'American Typewriter', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
}

li {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 30%;
    float: left;
    text-align: center;
    padding: 15px 0;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-stretch: ultra-expanded;
    text-align: left
}

section {
    background-color: #F7A99A;
    width: 85%;
}

article {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 1px;
    width: 85%;
}    

.Schneee {
    border: white;
    border-radius: 10%;
    height: 250px;
    width: 300px;
}  


footer {
    text-align: right;
    color: black;
}     


h3 {
    color: white
}    

.Herbscht {
    border: white;
    border-radius: 20%;
    height: 250px;
    width: 300px;
} 

.Macarena {
    border: white;
    border-radius: 50%;

} 