/* css füt Uno-Kartenspiel/
/* Einbettung font */ 
@import url('https://fonts.googleapis.com/css?family=Courgette');


header {

	background-color: #D8D8D8;
	font-family: 'Times New Roman', Times, serif;
	width: 100%;
}

h1 {
	font-size: 2em;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}


.game {
	background-color: #D8D8D8;
	height: 100%;
	width: 100%;
	display: flex;
}

.stack {
	float: left;
	width: 30%;
	height: 100%;

}

.info {
	height: 25%;
	width: 100%;
}

.stackCards {
	display: table;
	background-color: aquamarine;
	height: 75%;
	width: 100%;
	border-color: #D8D8D8;
	border-top-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	border-right-width: 20px;
	border-style: solid;
	box-sizing: border-box;
	overflow: hidden;

}

.item {
	display: table-cell;
	vertical-align: middle;
}

.field {
	float: left;
	background-color: #D8D8D8;
	height: 100%;
	width: 100%;
	padding: 0;
}

.computerCards {
	display: table;
	height: 35%;
	width: 100%;
	background-color: aquamarine;
	overflow: scroll !important;
}

.inField {
	display: table;
	width: 100%;
	align-items: center;
	height: 50%;
	box-sizing: border-box;
	background-color: aquamarine;
	border-color: #D8D8D8;
	border-width: 10px;
	border-radius: 60px;
	border-style: solid;
	overflow: hidden;
}

.playerCards {
	display: table;
	background-color: aquamarine;
	height: 25%;
	width: 100%;
	overflow: scroll !important;
}

body {
	text-align: center;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}
	