/* css füt Uno-Kartenspiel/
/* Einbettung font */ 
@import url('https://fonts.googleapis.com/css?family=Courgette');


header {

	background-color: #D8D8D8;
	font-family: 'Times New Roman', Times, serif;
	width: 100%;
}

h1 {
	font-size: 2em;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

button {
	font-family: 	"Courgette", sans-serif;
  	font-size: 1.2em;	
	padding: 2em;
	overflow: hidden;

  	width:23%; 	

  	border-width: 0;
  	outline: black;
  	border-radius: 2px;
  	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  	background-color: #848484;
  	color: #F5A9A9;
  
	margin: 0.5em;
	
	}
	

body {
	background-color: #F5A9A9;
}	

h2 {
	font-size: 1.2em;
	position: fixed;
	text-align: center;
}	

.Spielfläche {
	width: 100%;
	background-color: white;

}

.Spieler1 {
	background-color: #D8D8D8;
	
}	